<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Veículo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Estacionamento</h1>
        <nav>
            <a href="{{ url_for('home') }}">Entrada/Saída</a>
            <a href="{{ url_for('listar_clientes') }}">Clientes Cadastrados</a>
            <a href="{{ url_for('estadias') }}">Consultar Estadias</a>
            <a href="{{ url_for('cadastro') }}">Cadastrar Veículo</a>
        </nav>
    </header>

    <div class="container centered-content">
        <h2>Cadastro de Veículo</h2>
    </div>
</body>
</html>